/* IMPORTS
=========================== */

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*
============================== */

body {
    background-color: #364350;
    margin-bottom: 60px;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
}

div.container {
    margin-top: 0px;
    margin-left: 6%;
}

div.card {
    background-color: #ffffff05;
    border: 1px solid rgb(172, 142, 8);
}

div.card-header {
    color: white;
    font-weight: bold;
    background-color: rgb(172, 142, 8);
}

li.list-group-item {
    background-color: #fff0 !important;
}

li.list-group-item.active {
    color: #937905;
}

.data {
    padding: 10px;
    margin: 10px;
    background-color: #e8f9ff;
}

.chartlink,
.updlnk,
.dellnk {
    cursor: pointer;
}

li i {
    float: right;
}

li i.dellnk {
    color: #bd1717;
}

li i.updlnk {
    color: rgb(5, 146, 5);
}


/* input,
textarea {
    margin: 20px;
} */

.btn {
    margin-left: 0px;
    font-family: Montserrat, sans-serif;
    color: #ffff;
    background-color: #ac8e08;
    border-color: #ac8e08;
    border-style: solid;
    border-width: 2px;
}

h2 {
    color: #ffff;
}

a {
    color: #ffff;
}

a:hover {
    color: #ffff;
    font-weight: bold;
}

p {
    margin: 0;
    font-size: 16px;
    color: #ffff;
}

label {
    color: #acb1b5;
}

input#userName-input.form-control {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 30px;
}

input#email-input.form-control {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 30px;
}

input#password-input.form-control {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 30px;
}

#graphArea {
    background-color: white;
}

.carousel-item {
    margin-left: 25px;
}