/* IMPORTS
=========================== */

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

/*
============================== */

div.container {
    margin-top: 0px;
    margin-left: 10px;

}

.data {
    padding: 10px;
    margin: 10px;
    background-color: #e8f9ff;
}

.cool-font {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  color: #1da1f2;
}

.jumbotron {
  font-family: Montserrat, sans-serif;
  color: white;
  background-color: #1da1f2;
}

input,
textarea {
    margin: 20px;
}

.btn {
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #ffff;
  background-color: #1da1f2;
  border-color: #1da1f2;
  border-style: solid;
  border-width: 2px;
}

h2 {
  color: #ffff;
}

a {
  color: #ffff;
}

a:hover {
  color: #ffff;
  font-weight: bold;
}

p {
    margin: 0;
    font-size: 16px;
    color: #ffff;
}

label {
  color: #acb1b5;
}

body {
    background-color: #364350;
}

input#userName-input.form-control {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 30px;
}

input#email-input.form-control {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 30px;
}

input#password-input.form-control {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 30px;
}

